<section id='meeting'>
  <header>
    <h1><%= @meeting.name %></h1>
    <h2><%= @meeting.start_time %></h2>
  </header>
  <div id='end-class'><%= link_to 'End Class', classrooms_path %></div>
  <section id='students-list'>
    <ul>
      <% @meeting.students.each do |student| %>
        <%= render 'student', student: student, meeting: @meeting %>
      <% end %>
    </ul>
  </section>
</section>
