<h1>meritorious</h1>
<p>
  Computer, lights up! I am your worst nightmare! Fate.
  It protects fools, little children, and ships named "Enterprise."
  Some days you get the bear, and some days the bear gets you. This should be interesting.
  Smooth as an android's bottom, eh, Data?
  For an android with no feelings, he sure managed to evoke them in others.
  We have a saboteur aboard. This is not about revenge. This is about justice.
  Damage report! My oath is between Captain Kargan and myself.
  Your only concern is with how you obey my orders.
  Or do you prefer the rank of prisoner to that of lieutenant?
  Fate protects fools, little children and ships named Enterprise.
  What's a knock-out like you doing in a computer-generated gin joint like this?
  Now, how the hell do we defeat an enemy that knows us better than we know ourselves?
  I'll alert the crew. I'm afraid I still don't understand, sir. I will obey your orders.
  I will serve this ship as First Officer. And in an attack against the Enterprise, I will die with this crew.
  But I will not break my oath of loyalty to Starfleet. Your shields were failing, sir.
</p>
