@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import 'bourbon';
@import 'bitters/bitters';
@import 'neat';

///////////////////////////////////////////////////////////////////////////////

body {
  padding: 0px;
  margin: 0px;
}

.clearfix {
  clear: both;
}

main {
  margin: 1%
}

@import 'main_nav';
@import 'classroom';
